@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoblack';
    src: url('/fonts/Roboto-Black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('/fonts/Roboto-Thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333333;
}

header{
    margin: 40px;
}

h1{
    color: #F6F6F6;
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

span.tetris{
    font-family: 'Roboto';
    font-size: 80px;
    text-transform: uppercase;
}


h3{
    color: #F6F6F6;
    font-family: 'Roboto';
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-rules{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-rules h2{
    color: #F6F6F6;
    font-family: 'Roboto';
    padding-bottom: 20px;
}

.arrows{
    display: flex;
    flex-direction: column;
    color: #F6F6F6;
}

.arrow-box{
    border: 1px solid #F6F6F6;
    padding: .6rem;
    margin-bottom: .6rem;
    width: 40px;
    border-radius: .25rem;
    text-align: center;
}

.container-data-arrows{
    display: flex;
    align-items: center;
}

.info-arrow{
    color: #F6F6F6;
    font-family: 'Roboto';
    padding-left: 10px;
}

nav{
    text-align: center;
    margin: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.main-grid{
    width: 200px;
    height: 400px;
    background-color: #495057;
    display: flex;
    flex-wrap: wrap;
    border-radius: .25rem;
}

.main-grid div {
    width: 20px;
    height: 20px;
    /* background-color: red; */
}

.tetromino {
    background-color: blue;
}

.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #495057;
    margin-left: 50px;
    border-radius: .25rem;
}

.mini-grid div{
    width: 20px;
    height: 20px;
}

.container-mini{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-mini h2{
    color: #F6F6F6;
    font-family: 'Roboto';
    position: relative;
    left: 25px;
    padding-bottom: 10px;
}

footer p{
    color: #F6F6F6;
    font-family: 'Roboto';
    text-align: center;
    margin: 40px;
}

.start-button{
    color: #E8E8E8;
    font-family: 'Roboto';
    /* text-transform: lowercase; */
    background-color: #990100;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: .25rem;
    width: 150px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
}

.start-button:hover{
    background-color: #E8E8E8;
    color: #990100;
}

.start-button:active{
    background-color: #fca311;
    color: #E8E8E8;
}

.resetgame{
    color: #B90504;
    font-family: 'robotomedium';
    background-color: #E8E8E8;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: .25rem;
    width: 150px;
}

.resetgame:hover{
    color: #E8E8E8;
    background-color: #B90504;
}

.resetgame:active{
    background-color: #fca311;
    color: #E8E8E8;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 20px rgba(256, 256, 256, 0);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}